<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
   {{>navbar}}
    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class=" col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/w.jpg" alt="Rc" class="img-fluid" title="Rc technical">
                        </figure>
                     </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather  app</p>
                        <h1>I AM A <span class="text_clr">Web Devloper </span> Web Designer & Fast Learner</h1>
                        <a href="https://rcpatil126.github.io/myprofile.com/" target="_Rc"><button>About me</button></a>

                    </div>
                    
                    </div>
                </div>


            </div>
        </div>
    </div>

             <!-- footer code  -->
            {{>footer}}
</body>
</html>